<div class="page-header">
	<h1>An endless void</h1>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<p>Brashly, you close your eyes and leap through a door you thought was there.
		Upon opening your eyes again, however, you find... Nothing. Just a moment
		ago, you were so certain you would find a room at this location, but all
		your bravado, everything you thought you knew about the world, vanished 
		in an instant. All around you, there is nothing but a featureless void
		stretching out into infinity in every direction. <i>"What was I even trying 
		to accomplish?"</i> you lament as you desperately look for a way out of 
		this madness, to no avail. Slowly but inexorably, a single intrusive thought 
		pushes its way to the forefront of your consciousness; 
		<b>"Error 404: Page not found."</b></p>

	</div>

	<div class="container">
			<small><a href="http://www.sjolyst.net">Return to main page.</a></small>
	</div>
</div>
