<div class="page-header">
	<h1>Main page</h1>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		One day, as you travel along the vastness of the Internet, you come
		across a <a href="http://www.uio.no">university</a>. Wandering through
		its halls, you eventually stumble upon a door simply labelled "vebjorrs".
		Opening it and stepping inside, you discover a small room. Although
		mostly featureless at present, you get the impression that this place
		might contain some neat stuff at some point in the future. <i>Perhaps
		returning here later would be a good idea,</i> you muse as you step back 
		outside and continue on your journey to sites unknown.
	</div>
</div>
